<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ public_url }}/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="{{ public_url }}/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="{{ public_url }}/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="{{ public_url }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ site_url }}/core/views/styles/stylesheet.php?style=panel" />
    <title>{{ page_title }}</title>
</head>
<body>
    <ul>
        <li><a href="{{ site_url }}/public/index.php/admin/accounts">Accounts</a></li>
        <li><a href="{{ site_url }}/public/index.php/admin/permissions">Permissions</a></li>
    </ul>
</body>
</html>